body {
    margin: 0;
}

#bloc-gauche{
    background-color: #FDD835;
    flex: 1;
}

#bloc-droite{
    flex: 4;
    margin: 50px;
}
.section-gauche{
    background-color: black;
    opacity: 0.6;
    color: #FDD835;
    text-align: center;
    padding: 10px;
}
#conteneur{
    display: flex;
}

#bloc-photo {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#photoCV {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 12px #555;
}

#bloc-gauche p {
    margin-left: 50px;
    margin-right: 50px;
}

.fas{
    border: 2px solid;
    border-radius: 50%;
    color: black;
}

#loisirs {
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
}

#prenom {
    color: #FDD835;
}

#trait {
    max-width: 80px;
    border-bottom: 2px solid #FDD835;
}