body{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    font-family: 'Roboto', sans-serif;
}
.bloc-gauche{
    background-color: #FDD835;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.about{
    flex-grow: 1;
}
.bloc-droite{
    flex: 4;
    margin: 50px;
}
.bloc-droite h3{
    color: #4A4A4A;
}
.section-gauche{
    background-color: black;
    opacity: 0.6;
    color: #FDD835;
    text-align: center;
    padding: 10px;
}
#conteneur{
    display: flex;
}
.bloc-photo{
    display: flex;
    justify-content: center;
    margin: 30px;
}
#photoCV{
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px #555;
}
.bloc-gauche p{
    margin-left: 50px;
    margin-right: 50px;
}
.fas{
    border: 2px solid;
    border-radius: 50%;
    color: black;
}
.logos{
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
}
.logo{
    border: 2px solid black;
    border-radius: 50%;
    padding: 22px;
}
#prenom {
    color: #FDD835;
}
#trait {
    max-width: 80px;
    border-bottom: 2px solid #FDD835;
}
.bloc-droite h1{
    margin-bottom: 0;
}
.bloc-droite h2{
    margin-top: 0;
}
.resume h4{
    color: #4A4A4A;
    margin: 0;
}
.titre{
    margin-top: 0.5rem;
    margin-bottom: 120px;
    color: #4A4A4A;
}
.bloc {
    display: flex;
    padding: 20px;
}
.dates {
    min-width: 250px;
    display: flex;
}
.bloc-texte{
    width: 35%;
}
.bloc1{
    flex: 1.7;
    color: #FDD835;
}
.bloc2{
    flex: 3;
}
.bloc3{
    flex: 20;
}
.bloc-bas{
    display: flex;
}
.gauche{
    flex: 1.2;
}
.droite{
    flex: 1;
}
.resume{
    width: 95%;
}
.icone-color{
    margin-right: 30px;
    color: #FDD835;
}
.partie{
    border-bottom: solid 2px #FDD835;
}
.loisirs{
    margin-bottom: 30px;
}
.contact h4{
    margin-top: 0.5rem;
}
.contact h3{
    margin-bottom: 0;
}
.contact p{
    font-size: 1rem;
}
.about p{
    font-size: 1.1rem;
}
.contactgras{
    font-weight: 500;
}

/* responsive */
@media only screen and (max-width: 600px) {
    #conteneur{
        flex-direction: column-reverse;
    }
    .loisirs, .about {
        display: none;
    }
    .bloc{
        padding: 0px;
        flex-direction: column;
    }
    .bloc1{
        display: none;
    }
    .resume{
        width: 100%;
    }
    .bloc-texte{
        width: 100%;
    }
    body{
        width: 100%;
        margin: auto;
    }
    .bloc-bas{
        flex-direction: column;
    }
    .bloc-droite p{
        margin-bottom: 0px;
    }
    .partie{
        margin-top: 30px;
    }
    .titre{
        margin-bottom: 80px;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    #conteneur{
        flex-direction: column-reverse;
    }
    .loisirs, .about {
        display: none;
    }
    .bloc{
        padding: 0px;
    }
    .bloc1{
        display: none;
    }
    .bloc{
        flex-direction: column;
    }
    .resume{
        width: 100%;
    }
    .bloc-texte{
        width: 100%;
    }
    .bloc-bas{
        flex-direction: column;
    }
    body{
        width: 100%;
        margin: 0;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .loisirs, .about {
        display: none;
    }
    .titre{
        margin-bottom: 60px;
    }
    .bloc{
        padding: 0px;
        flex-direction: column;
    }
    #conteneur{
        flex-direction: column-reverse;
    }
    .bloc1{
        display: none;
    }
    .resume{
        width: 100%;
    }
    .bloc-texte{
        width: 100%;
    }
    body{
        width: 100%;
        margin: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
    .bloc-gauche{
        flex: 2;
    }
}